%% -*- erlang -*-
{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [x509redate]}.
{escript_main_app, x509redate}.
{escript_name, x509redate}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{post_hooks,
 [{clean, "rm -rf ./x509redate"},
  {escriptize,
   "cp \"$REBAR_BUILD_DIR/bin/x509redate\" ./x509redate"}]}.
